body {
   
    background-color: rgb(228, 205, 5);
    #dia{
       color: blueviolet; 
    }
    
}

img#flork{
    margin: 10px;
    width: 300px;
}


button{
    background-color: rgb(43, 61, 226);
}

#bntyt{
    background-color: rgb(197, 16, 16);
    font-size: medium;
    border-radius: 5px;
    cursor: pointer;
}

#bntyt-cs{
    cursor: pointer;
}

footer {
    position: relative;
    color: black;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 75px;
}