body {
    background-color: rgb(228, 205, 5);
    #dia{
       color: blueviolet; 
    }
    
}

img#flork{
    margin: 10px;
    width: 300px;
}


button{
    background-color: rgb(43, 61, 226);
}

#bntyt{
    background-color: rgb(197, 16, 16);
    font-size: medium;
    border-radius: 5px;
}
