body {
   
    background-color: rgb(49, 119, 124);
    #dia{
       color: rgb(225, 245, 43); 
    }
    
}

img#flork{
    margin: 10px;
    width: 300px;
}


button{
    background-color: rgb(43, 61, 226);
}

#bntyt{
    background-color: rgb(194, 65, 65);
    font-size: medium;
    border-radius: 5px;
    cursor: pointer;
}

#bntyt-cs{
    cursor: pointer;
}

footer {
    position: relative;
    color: black;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 75px;
}